@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Jost", Helvetica, Arial, sans-serif;
}

.theme-blue-color {
  color: #3385d7;
}

.theme-dark-blue {
  color: #1f2e88;
}

/************ HEADER  ************/
.header {
  /* position: fixed;
  left: 0;
  top: 0;
  z-index: 100; */
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,6%);
}

.header a.active {
  color: #3385d7 !important;
}




.header.sticky {
  background-color: #000000;

}

.header ul a {
  font-size: 14px;
}

/************ HEADER ENDS  ************/


/************ FOOTER  ************/
footer#footer {
  /* background-image: url(./images/dentist4-footer-bg.webp); */
    /* background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #000000; */
}



/************ FOOTER ENDS  ************/


/************ HOME LANDING PAGE   ************/

/******** header   ********/

#homePage header {}


footer .whatsappICON {
  background-color: #16f00e;
  border-radius: 50%;
  bottom: 15px;
  color: #fff;
  font-size: 30px;
  left: 15px;
  padding: 5px;
  position: fixed;
}